<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Avião</title>
</head>
<body>
<h1>Cadastro de Avião</h1>
<form method="post" action="/avioes">
    <label for="prefixo">Prefixo:</label>
    <input type="text" id="prefixo" name="prefixo"><br>

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo"><br>

    <label for="ano">Ano:</label>
    <input type="number" id="ano" name="ano"><br>

    <label for="autonomia">Autonomia:</label>
    <input type="number" id="autonomia" name="autonomia"><br>

    <label for="numPassageiros">Número de Passageiros:</label>
    <input type="number" id="numPassageiros" name="numPassageiros"><br>

    <button type="submit">Cadastrar</button>
</form>
</body>
</html>


