<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detalhes do Piloto</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
  <h1>Detalhes do Piloto</h1>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Nome:</strong> <span th:text="${piloto.nome}"></span></p>
      <p><strong>Número da Licença:</strong> <span th:text="${piloto.numeroLicenca}"></span></p>
      <p><strong>Idade:</strong> <span th:text="${piloto.idade}"></span></p>
      <p><strong>Anos de Experiência:</strong> <span th:text="${piloto.anoExperiencia}"></span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a th:href="@{/piloto/editar/{id}(id=${piloto.piloto_id})}" class="btn btn-primary">Editar</a>
      <a th:href="@{/piloto/excluir/{id}(id=${piloto.piloto_id})}" class="btn btn-danger">Excluir</a>
      <a th:href="@{/piloto/consultar}" class="btn btn-secondary">Voltar</a>
    </div>
  </div>
</div>
</body>
</html>
