<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Menu de Navegação</title>
</head>
<body>
<header>
  <h1>Menu de Navegação</h1>
  <nav>
    <ul>
      <li><a href="/avioes">Aviões</a></li>
      <li><a href="/voos">Voos</a></li>
      <li><a href="/aeroportos">Aeroportos</a></li>
      <li><a href="/agendas">Agendas</a></li>
      <li><a href="/viagens">Viagens</a></li>
      <li><a href="/pilotos">Pilotos</a></li>
      <li><a href="/passageiros">Passageiros</a></li>
    </ul>
  </nav>
</header>
</body>
</html>